#content
  #chat_box
    #texts
  #members
  %form#text_form.clear{'method' => 'POST', 'action' => '#'}
    #text_wrap
      %input#text{'maxlength' => '140', 'name' => 'text', 'type' => 'text', 'disabled' => true}
#template_draw.shy
%textarea#chat_template.shy
  :preserve
    <div class="chat_item shy">
      <div class="chat_image">
        {#if $T.login}
        <a href="http://twitter.com/{$T.name}">
          <img class="prof_image" src="{$T.image_url}" title="{$T.name}">
        </a>
        {#else}
        <img class="prof_image" src="/img/anonymous.png" title="anonymous">
        {#/if} 
      </div>
      <div class="chat_text">
        <span class="chat_user_name">{$T.name}</span><span>&nbsp;&nbsp;</span><span>{$T.text}</span>
      </div>
    </div>
%textarea#member_template.shy
  :preserve
    <div id="member-{$T.user_id}" class="member-img shy">
      {#if $T.user_info.login}
      <a href="http://twitter.com/{$T.user_id}"><img class="prof_image" src="{$T.user_info.image_url}" title="{$T.user_info.name}"></a>
      {#else}
      <img class="prof_image" src="/img/anonymous.png" title="anonymous"></a>
      {#/if}
    </div>
